<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/shapes/src/main/java/fr/dauphine/ja/tansolene/shapes/Circle.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="fr.dauphine.ja.tansolene.shapes.Circle"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="shapes"/>
</launchConfiguration>
